html, body{
    margin: 0;
    height: 100%;
}
body > *{
    padding: 12px;
    background-color: #fafafa;
        color: #0e0e0e;
}

/*déclaration grid*/
p{grid-area: p;}
img{grid-area: img;}
h2{grid-area: h2;}

/*cquoi*/
#img-cquoi{
    width: 40%;
    margin-left: 100px;
}
#div-p-cquoi{
    margin-right: 100px;
    grid-area: div-p-cquoi;
}
#cquoi{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "h2 h2"
        "img div-p-cquoi";
}

/*quand*/
#img-mediatheque {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  height: 256px;
}
#p-quand{
    margin-left: 12px;
}
#quand{ /*grid*/
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "h2 h2"
        "img p";
}

/*footer*/
footer{
    background-color: #e0e0e0;
}